* {
    /*border: 1px solid black;*/
    
}

header {
    background-color: #005A00;
}

header a {
    color: white !important;
}

main {
    margin: 3% 10%;
}

article {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.card {
    padding: 10px;
    width: 70%;
}


